.signup {
  background-color: var(--third-color);
  border-radius: 50px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.signup__container {
  padding: 12rem;
}

.signup > :nth-child(1) {
  color: var(--second-color);
  font-weight: 600;
}

.signup > :nth-child(2) {
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

.signup > :nth-child(3) {
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

.signup > :nth-child(4) {
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}

.signup > :nth-child(5) {
  width: 40%;
  margin: 0 auto;
  font-weight: 300;
  transition: all 0.3s ease-in;
}

.signup > :nth-child(5):hover {
  scale: 1.1;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1280px) {
  .signup {
    width: 80%;
    gap: 2rem;
  }
}
/* -----------------for large devices-------------- */
@media screen and (max-width: 1112.5px) {
  .signup {
    width: 100%;
  }
}
/*-------------------for medium devices--------------- */
@media screen and (max-width: 896.5px) {
  .signup__container {
    padding: 12rem 8rem;
  }
}
/* ---------------------for tablets----------------- */
@media screen and (max-width: 642.5px) {
  .signup__container {
    padding: 12rem 3rem;
  }

  .signup > :nth-child(5) {
    width: 55%;
  }
}
/* ----------------for mobile devices------------------ */
@media screen and (max-width: 400px) {
  .signup__container {
    padding: 12rem 1rem;
  }
}
